.container {
  color: #000;
  background-color: #f7f7f7;
  border-radius: 8px;
  justify-content: start;
  align-items: start;
  padding: 4px;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.item {
  border: none;
  background: none;
  border-radius: 4px;
  align-self: stretch;
  gap: 8px;
  min-height: 32px;
  padding: 0 12px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

.itemActive {
  white-space: nowrap;
  box-shadow: 0 1px 2px #0000000d;
}

.itemSelected {
  background-color: #fff;
}

@media (width<=991px) {
  .itemActive {
    white-space: initial;
  }
}
